

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



/* shared styles */
.primary-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 12px 36px;
}

/* header styles */

header{
    background-image: url(../Assets/Hero-bg.png);
    height: 600px;
}


/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}

/* banner styles  */

.banner-content{
    text-align: center;
    margin: 150px auto;
    max-width: 800px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
    margin-bottom: 120px;
}

/* action styles  */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 290px;
}
.action .section-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action .section-description{
    font-size: 24px;
    color: #252432;
    margin-bottom: 20px;
}
.action-right img{
    border-radius: 50px;
    
}