/* Google Fonts  */

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


body{
    background-color: #f5f8ff;
}

/* shared styles */

.primary-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 18px 36px;
}
.btn-primary:hover{
    background-color: #e5e7ff;
    color: #4E47FF;
    cursor: pointer;
}

/* header styles */

header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
}


/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
}
.nav-title{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}

/* banner styles  */

.banner-content{
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 130px;
    padding-bottom: 130px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}

/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
    margin-bottom: 120px;
}

/* action styles  */

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 290px;
}
.action .section-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action .section-description{
    font-size: 24px;
    color: #252432;
    margin-bottom: 20px;
}
.action-right img{
    border-radius: 50px;    
}

/* productive users styles */

.productive-users{
    text-align: center;
    background-color: #e5e7ff;
    border-radius: 25px;
    padding: 20px 142px;
}
.productive-users .section-title{
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 40px;
}

.users-container{
    display: flex;
    justify-content: space-around;
}
.users-title{
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    margin: 0px;
}
.user-description{
    font-size: 20px;
    color: #B3B3B3;
}

/* feedback styles start  */

.feedback .section-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}
.feedback-container{
    display: flex;
    gap: 20px;
}
.feedback-list{
    box-shadow: 0px 4px 15px rgba(0,0,0,0.05);
    padding: 24px;
}
.feedback-title{
    font-size: 20px;
}

.reviewer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.reviewer-image img{
    border-radius: 100px;
}
.reviewer-info h4{
    font-size: 16px;
    color: #757575;
    margin-bottom: 5px;
}
.reviewer-info p{
    font-size: 14px;
    color: #B3B3B3;
    margin-top: 0px;
}

/* focus styles  */

.focus{
    background-color: #fff;
}
.focus-container{
    padding-top: 10px;
    padding-bottom: 100px;
}
.focus .section-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    
}
.focus .section-description{
    font-size: 16px;
    color: #757575;
    text-align: center;
    margin-bottom: 20px;
}

.focus .focus-text .btn-container{
    text-align: center;
    margin-bottom: 20px;
}

.focus .img-container{
    text-align: center;
}
.focus img{
    border-radius: 50px;
}

/* contact section styles  */

.contact{
    display: flex;
    gap: 115px;
    align-items: center;
}
.contact .section-title{
    font-size: 80px;
    font-weight: bold;
    width: 100%;
}

.contact-column{
    width: 50%;
}
.contact label{
    color: black;
    font-weight: 600;
}
.contact input[type="email"] , .contact input[type="text"] , .contact textarea{
    height: 55px;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px 25px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.05);
    margin-top: 10px;
    box-sizing: border-box;
}
.contact input[type="submit"]{
    width: 100%;
}
.contact textarea{
    height: 100px;
}


/* Footer styles  */

.footer{
    text-align: center;
    background-color: #fff;
    padding: 65px 400px;
}

.footer-title{
    font-size: 100px;
    color: #4E47FF;
    margin: 0px;
    margin-top: 20px;
}
.footer-description{
    color: #8987A1;
    margin-bottom: 35px;
}
.footer .links{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}
.footer a{
    text-decoration: none;
    color: #8987A1;
}


                                /* THE END */